{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %} - Landing page {% endblock %}

{% block content %}
<!-- Background Image content section here-->
<div class="hero">
    <section>
        <div class="container" id="home-container">
            {% if user.is_authenticated %}
                <div class="row welcome-section d-flex welcome-text">
                    <h1>Welcome back, <h1>{{ user.username }}!</h1>
                    <p class="pt-2 pb-1 sm"><span>Congratulations,</span> you are now the master of your financial destiny! Your journey into the world of trading begins here.</p>
                    <p class="pt-2 pb-1 sm">Explore <span>live updating charts</span>, fine-tune your strategies, and watch your <span>portfolio</span> thrive!</p>
                    <a href="{% url 'markets' %}">
                        <button class="btn-signup">Go to Dashboard</button>
                    </a>
                </div>
            {% else %}
                <div class="row welcome-section d-flex welcome-text">
                    <h1>Welcome to Broker Buddy!</h1>
                    <p class="pt-2 pb-1 sm">Step into the world of trading with Broker Buddy. 
                        Experience the thrill of the stock market through 
                        our risk-free simulator. Hone your skills and strategies 
                        – where practice makes profit.</p>
                    <a class="col-md-4" href="{% url 'account_login' %}">
                        <button class="btn-signup">Login</button>
                    </a>
                    <a class="col-md-4" href="{% url 'account_signup' %}">
                        <button class="btn-signup">Signup</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}