{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %} - Landing page {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main-content-container h-100">
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto text-center">
                        <hr>
                        <h2 class="logo-font mb-4">Landing Page</h2>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}