{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %} - Landing page {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container text-white">
    <h1>Terms of Service</h1>
    <hr>

    <h2>1. Acceptance of Terms</h2>
    <p class="text-white">By accessing or using Broker Buddy, you agree to be bound by these Terms of Service and all applicable laws
        and regulations. If you do not agree with any of these terms, you are prohibited from using or accessing
        this site.</p>

    <h2>2. Use of Services</h2>
    <p class="text-white">You agree to use Broker Buddy for lawful purposes and in accordance with these Terms of Service. You are
        solely responsible for your use of the services and any consequences thereof.</p>

    <h2>3. User Accounts</h2>
    <p class="text-white">If you create an account on Broker Buddy, you are responsible for maintaining the confidentiality of your
        account information and for restricting access to your computer or mobile device. You agree to accept
        responsibility for all activities that occur under your account.</p>

    <h2>4. Privacy Policy</h2>
    <p class="text-white">Your use of Broker Buddy is also governed by our Privacy Policy. Please review the Privacy Policy for
        information on how we collect, use, and disclose personal information.</p>

    <h2>5. Changes to Terms</h2>
    <p class="text-white">We reserve the right to modify or replace these Terms of Service at any time. Changes will be effective
        immediately upon posting. Your continued use of Broker Buddy after any changes constitutes acceptance of
        the revised terms.</p>

    <h2>6. Contact Information</h2>
    <p class="text-white">If you have any questions or concerns about these Terms of Service, please contact us at [contact
        email/phone].</p>
</div>

{% endblock %} 
{% block postloadjs %}
    <script src="{% static 'about/js/about.js' %}"></script> 
{% endblock %}
