/* Defining Global CSS Variables */

:root {
  --primary-color: #003366; /* Navy Blue */ 
  --secondary-color: #8cbfd3; /* Sky Blue */ 
  --accent-color-1: #008068; /* Teal */
  --accent-color-2: #db143c; /* Crimson */
  --background-color: #f8f8f8; /* Off-White */
  --text-color: #333333; /* Dark Grey */
  --heading-color: #000000; /* Black */

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}
/* Global Styles Ends */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

nav, 
footer {
    background-color: var(--primary-color);
    height: 125px;
}
nav .nav-link {
    color: white !important;
    margin: 18px;
    font-size: 14px;
}

.main-container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Footer Styles */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5em;
}

.footer-wrapper .left-content {
    text-align: left;    
    flex: 1;
}

.footer-wrapper .center-content {
    text-align: center;
    flex: 1;
}

.footer-wrapper .right-content {
    text-align: right;   
    flex: 1; 
}

.footer-wrapper ul {
    list-style: none; 
    padding: 0; 
}

.footer-wrapper ul li a {
    text-decoration: none;
}

.footer-wrapper .center-content a {
    margin-inline: .8em;
}