{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
    <article>
        <div class="container-wallet">
            <div class="row">
                <div class="mx-auto text-center">
                    <h2 class="logo-font mb-4">My Wallet</h2>
                </div>
            </div>
    </article>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'accounts/js/accounts.js' %}"></script>
{% endblock %}