{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
    <article>
        <div class="container-wallet sky-blue-bg">
            <div class="row">
                <div class="mx-auto text-center dflex">
                  <!-- fontawesom icon wallet -->
                    <i class="fas fa-wallet"></i>
                    <h2 class="logo-font mb-3">My Wallet</h2>
                    <hr>
                </div>
            </div>
    </article>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'accounts/js/accounts.js' %}"></script>
{% endblock %}