// Defining Global CSS Variables
:root {
  --primary-color: #003366; // Navy Blue
  --secondary-color: #8cbfd3; // Sky Blue
  --accent-color-1: #008068; // Teal
  --accent-color-2: #db143c; // Crimson
  --background-color: #f8f8f8; // Off-White
  --text-color: #333333; // Dark Grey
  --heading-color: #000000; // Black

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

.main-container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
