{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'markets/css/markets.css' %}" />
{% endblock %} {% block extra_title %} - Market {% endblock %} {% block
page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% block content %}

<div class="container main-content-container h-100">
    <div class="row">
      <div class="col-md-4">
        <!-- My Wallet content goes here -->
        {% include 'accounts/my_wallet.html' %}
      </div>
      <div class="col-md-8">
        <h1>Market</h1>
        <!-- Market content goes here -->
      </div>
    </div>
</div>
{% endblock %} {% block postloadjs %}
<script src="{% static 'markets/js/markets.js' %}"></script>
{% endblock %}
