{% extends "base.html" %} 
{% load static %} 
{% load humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'markets/css/markets.css' %}" />
{% endblock %} 

{% block extra_title %} - Market {% endblock %} 

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container main-content-container h-100">
      <div class="row">
        <div class="col-md-4">
          <!-- My Wallet content goes here -->
          {% include 'accounts/my_wallet.html' %}
        </div>
        <div class="col-md-8">
          <div class="row top-section">
              <div class="col-md-4">
                <h1>{{ category }} Market</h1>
              </div>
              <div class="col-md-8">
                <p>1 Hour update frequency</p>
              </div>
          </div>
          <hr id="market-hr">
                    <div class="table mb-4">
              <div class="container market-container">
                {% for category, data_list in combined_data.items %}
                  {% for data in data_list %}
                  <div class="row border-bottom pb-3 mb-3 stock-row">
                    <div class="col-1">
                      <div>{{forloop.counter}}.</div>
                    </div>
                    <div class="col-6 col-xl-2 pr-0">
                      <div>{{ data.name }}</div>
                    </div>
                    
                    <div class="col-5 col-xl-2">
                      <div class="right-align">$ {{ data.price|floatformat:2|intcomma }}</div>
                    </div>
                    <div class="col-6 col-xl-1 pr-0 sm-icons">
                      <div><i class="fas fa-wallet"></i>{% if stockBalance.quantity > 0 %}{{ stockBalance.quantity }}{% else %}0{% endif %}</div>
                    </div>
                    <div class="col-6 col-xl-2">
                      <div id="percentage" class="sm-icons">
                        {% if data.price_movement.movement == "Up" %}
                            <i class="fa-solid fa-arrow-trend-up" style="color: #008068;"></i>
                        {% elif data.price_movement.movement == "Down" %}
                            <i class="fa-solid fa-arrow-trend-down" style="color: #db143c;"></i>
                        {% endif %}
                        {{ data.price_movement.percentage|floatformat:2 }} %
                      </div>
                    </div>

                    <!-- trade area -->
                    <div class="col-12 col-md-4">
                      <div class="d-flex align-items-center">

                        <!-- <form id="tradeForm" action="{% url 'trade_stock' %}" method="POST">
                          {% csrf_token %}

                          <input type="hidden" name="name" value="{{ data.name }}">
                          <input type="hidden" name="price" value="{{ data.price }}">
                          <input type="text" class="form-control me-2" placeholder="Amount" aria-label="multiple select example" name="stockSelector">                    
                          <button type="submit" name="transaction_type" value="SELL" id="btn-btn-sell" class="btn me-2 btn-sell">Sell</button>
                          <button type="submit" name="transaction_type" value="BUY" id="btn-btn-buy" class="btn btn-buy">Buy</button>

                        </form> -->
                      </div>
                    </div>

                  </div>
                  {% endfor %} 
                {% endfor %}
              </div>
          </div>

          <!-- test -->                              
          <!-- end test -->
          

          <form action="" method="post">
            {% csrf_token %}
            <label for="stockSelector">Select List Category:</label>
            <select class="form-select form-select-lg mb-3" multiple aria-label="multiple select example" name="stockSelector">
              {% for category in categories %}
                  <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
              {% endfor %}
            </select>
            <br>
            <div class="d-grid gap-2 mt-2">
                <input class="btn btn-signup mb-3" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %} 

{% block postloadjs %}
  <script src="{% static 'markets/js/markets.js' %}"></script>
{% endblock %}
