{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="FinFlare Hackathon Team3">
        <meta name="description" content="FinFlare is the ultimate finance stock invester for training purposes">
        <meta name="keywords" content="FinFlare, Market, Stock, Finance, Money">
        <meta property="og:title" content="FinFlare 2024 | Market">
        <meta property="og:description" content="Finance Stock Market Planner Invester">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endblock %}


    {% block corecss %}
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">

        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/66c113ad0a.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/66c113ad0a.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
    {% endblock %}

    <title>FinFlare {% block extra_title %} {% endblock %}</title>

</head>

<body class="d-flex flex-column h-100 main-bg">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand text-white m-4">FinFlare Market</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'home' %}"><i class="fa-solid fa-house"></i> <strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'about' %}"><i class="fa-solid fa-circle-info"></i> <strong>About</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'markets' %}"><i class="fa-solid fa-arrow-trend-up"></i> <strong>Market</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'home' %}"><i class="fa-solid fa-wallet"></i> <strong>My Wallet</strong></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg- mt-5 mb-2">
        <div class="container">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="m-0 text-center text-white">
            <div>
                <a href=""><i class="fa-brands fa-facebook text-white"></i></a>
                </a><a href=""><i class="fa-brands fa-instagram text-white"></i></a>
                <a href=""><i class="fa-brands fa-twitter text-white"></i></a>
                <a href=""><i class="fa-brands fa-linkedin text-white"></i></a>
            </div>
            {% block copyright %}
                FinFlare 2024
            {% endblock copyright %}
        </div>
    </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>

        <script>
            $('.toast').toast('show');
        </script>

        {% block postloadjs %}
            <script src="{% static 'js/script.js' %}"></script>
        {% endblock %}

        {% block extras %}
        {% endblock %}
</body>

</html>