{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_title %} - About {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-2 text-bold text-center">Broker Buddy - Who Are We</h1>
            <p class=" lead text-center fs-2">Welcome to Broker Buddy, where we are dedicated to empowering individuals to
                excel in the intricate realm of stock investing. We are driven by passion for financial growth and a
                vision to simplify the path to long-term investing success.</p>
        </div>
    </div>
    <div>
        <h2 class="display-4 text-center text-bold">The Genesis</h2>
        <p p class=" lead text-center fs-2">The principles of long-term investing, though sound in theory, are elusive
            to implement in practice. The endless hours spent scouring websites and financial filings, manually
            compiling data into spreadsheets, led to frustration. The internet was a labyrinth of information, offering
            more confusion than clarity. Driven by a lifelong passion for technology and programming, our founders knew
            that the solution lay in their hands. Thus, Broker Buddy was born. </p>
    </div>
    <div>
        <h2 class="display-4 text-center text-bold">The Idea</h2>
        <p p class=" lead text-center fs-2">The principles of long-term investing, though sound in theory, are elusive
            to implement in practice. The endless hours spent scouring websites and financial filings, manually
            compiling data into spreadsheets, led to frustration. The internet was a labyrinth of information, offering
            more confusion than clarity. Driven by a lifelong passion for technology and programming, our founders knew
            that the solution lay in their hands. Thus, Broker Buddy was born. </p>
    </div>
    <div>
        <h2 class="display-4 text-center text-bold">The Vision</h2>
        <p p class=" lead text-center fs-2">At Broker Buddy, our core mission is to empower individuals to excel in stock
            investing and attain their financial aspirations. We recognize that the stock market is a realm of
            unparalleled wealth-building potential. By becoming a shareholder, you align yourself with a business's
            continuous growth, even while you rest. The allure of quick riches can be overwhelming, but our philosophy
            stands firm – true success stems from a steadfast, long-term approach. History teaches us that the
            wealthiest individuals often achieved their wealth as shareholders, enduring through decades of challenges
            and market fluctuations. </p>
    </div>
    <div class="container bg-secondary">
        <h2 class="display-4 text-center text-bold text-white pt-2">Meet the Team</h2>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/katerina.jpeg' %}" class="img-thumbnail" alt="picture of team member">
                        <div>
                            <h5 class="card-title">Katerina</h5>
                                <a href="https://github.com/e-kai00" class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/kim.png' %}" class="img-thumbnail" alt="picture of team member">
                        <div>
                            <h5 class="card-title">Kim Bergstroem</h5>
                                    <a href="https://github.com/KimBergstroem" class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/sandra.jpeg' %}" class="img-thumbnail" alt="picture of team member">
                        <div>
                            <h5 class="card-title">Sandra Bergstroem</h5>
                                    <a href="https://github.com/SandraBergstrom" class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/emmy.jpeg' %}" class="img-thumbnail" alt="picture of team member">
                        <div>
                            <h5 class="card-title">Emmanuel Oluwadaree</h5>
                                <a href="https://github.com/Emmy-Dare274" class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/vernell.png' %}" class="img-thumbnail" alt="picture of team member">
                        <div>
                            <h5 class="card-title">Vernell Clark</h5>
                                    <a href="https://github.com/VCOnlineEducation" class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/darren.jpg' %}" class="img-thumbnail" alt="picture of team member">
                        <div>
                            <h5 class="card-title">Darren Tuohy</h5>
                                    <a href="https://github.com/ProfessorJames" class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section> 
{% endblock %} {% block postloadjs %}
<script src="{% static 'about/js/about.js' %}"></script> {% endblock %}