<!-- BEGIN: ed8c6549bwf9 -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_title %} - About {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h1 class="display-2 text-center pt-5">Broker Buddy - Who Are We</h1>
                <p class=" lead py-4 px-5" id="welcome-text">Welcome to Broker Buddy, where we are dedicated to empowering individuals to
                    excel in the intricate realm of stock investing. We are driven by passion for financial growth and a
                    vision to simplify the path to long-term investing success.</p>
            </div>
        </div>
    </div>
    <div class="row sky-blue-bg">
        <div class="col-12 col-lg-6">
            <h2 class="display-4 text-center pt-5">The Genesis</h2>
            <p class=" lead p-md-3">In a world where investment opportunities abound, yet clarity is scarce, Broker 
                Buddy was born from the necessity for accessible, comprehensible financial insights. We remember the days of 
                wading through dense market reports, longing for a beacon of simplicity. That's why we've distilled our financial 
                expertise into a platform that demystifies investing, making the market's potential within reach for everyone. </p>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="display-4 text-center pt-5">The Idea</h2>
            <p p class=" lead p-md-3">The principles of long-term investing, though sound in theory, are elusive
                to implement in practice. The endless hours spent scouring websites and financial filings, manually
                compiling data into spreadsheets, led to frustration. The internet was a labyrinth of information, offering
                more confusion than clarity. Driven by a lifelong passion for technology and programming, our founders knew
                that the solution lay in their hands. Thus, Broker Buddy was born. </p>
        </div>
        <div class="col-12 py-4 pb-5">
            <h2 class="display-4 text-center">The Vision</h2>
            <p p class="lead p-md-3">At Broker Buddy, our core mission is to empower individuals to excel in stock
                investing and attain their financial aspirations. We recognize that the stock market is a realm of
                unparalleled wealth-building potential. By becoming a shareholder, you align yourself with a business's
                continuous growth, even while you rest. The allure of quick riches can be overwhelming, but our philosophy
                stands firm – true success stems from a steadfast, long-term approach. History teaches us that the
                wealthiest individuals often achieved their wealth as shareholders, enduring through decades of challenges
                and market fluctuations. </p>
        </div>
    </div>
<!-- END: ed8c6549bwf9 -->
<!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div class="container">
        <h2 class="display-4 text-center pt-2">Meet the Team</h2>
        <div class="album py-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" id="top-row-about-us">
                <div class="col">
                    <div class="card shadow-sm p-3">
                        <img src="{% static 'about/images/katerina.jpeg' %}" class="img-thumbnail" alt="picture of team member">
                        <h3 class="card-title text-center p-2">Katerina Elistratova</h3>
                        <div class="social-btns">
                            <a href="https://github.com/e-kai00" class="btn btn-signup" target="_blank" aria-label="GitHub Profile">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                            <a href="#" class="btn btn-signup" target="_blank" aria-label="LinkedIn Profile">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm p-3">
                        <img src="{% static 'about/images/kim.png' %}" class="img-thumbnail" alt="picture of team member">
                        <h3 class="card-title text-center p-2">Kim Bergstrom</h3>
                        <div class="social-btns">
                            <a href="https://github.com/KimBergstroem" class="btn btn-signup" target="_blank" aria-label="GitHub Profile">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/kim-bergstroem/" class="btn btn-signup" target="_blank" aria-label="LinkedIn Profile">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm p-3">
                        <img src="{% static 'about/images/sandra.jpeg' %}" class="img-thumbnail" alt="picture of team member">
                        <h3 class="card-title text-center p-2">Sandra Bergstrom</h3>
                        <div class="social-btns">
                            <a href="https://github.com/SandraBergstrom" class="btn btn-signup" target="_blank" aria-label="GitHub Profile">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/sandrabergstrom/" class="btn btn-signup" target="_blank" aria-label="LinkedIn Profile">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm p-3">
                        <img src="{% static 'about/images/emmy.jpeg' %}" class="img-thumbnail" alt="picture of team member">
                        <h3 class="card-title text-center p-2">Emmanuel Oluwadare</h3>
                        <div class="social-btns">
                            <a href="https://github.com/Emmy-Dare274" class="btn btn-signup" target="_blank" aria-label="GitHub Profile">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/emmanuel-o-oluwadare/" class="btn btn-signup" target="_blank" aria-label="LinkedIn Profile">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm p-3">
                        <img src="{% static 'about/images/vernell.png' %}" class="img-thumbnail" alt="picture of team member">
                        <h3 class="card-title text-center p-2">Vernell Clark</h3>
                        <div class="social-btns">
                            <a href="https://github.com/VCOnlineEducation" class="btn btn-signup" target="_blank" aria-label="GitHub Profile">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/vernellclark/" class="btn btn-signup" target="_blank" aria-label="LinkedIn Profile">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm p-3">
                        <img src="{% static 'about/images/darren.jpg' %}" class="img-thumbnail" alt="picture of team member">
                        <h3 class="card-title text-center p-2">Darren Tuohy</h3>
                        <div class="social-btns">
                            <a href="https://github.com/ProfessorJames" class="btn btn-signup" target="_blank" aria-label="GitHub Profile">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                            <a href="#" class="btn btn-signup" target="_blank" aria-label="LinkedIn Profile">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                        </div>
                    </div>
                    {% comment %} <div class="card shadow-sm">
                        <img src="{% static 'about/images/darren.jpg' %}" class="img-thumbnail" alt="picture of team member">
                    <div>
                        <h3 class="card-title">Darren Tuohy</h3>
                                <a href="https://github.com/ProfessorJames" class="btn btn-signup" target="_blank" aria-label="Learn More About Me">Learn More About Me</a>
                    </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section> </div>
</div>
</div>
</div> {% endblock %} {% block postloadjs %}
<script src="{% static 'about/js/about.js' %}"></script> {% endblock %}