<!-- FILEPATH: /c:/Darren/5. Programming/Code Institute/Hackathons/1. January 2024/FInFlare/about/templates/about/about.html -->
<!-- BEGIN: ed8c6549bwf9 -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_title %} - About {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
<!-- END: ed8c6549bwf9 -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-2 text-bold text-center">Finflare - Who Are We</h1>
            <p class=" lead text-center fs-2">Welcome to Finflare, where we are dedicated to empowering individuals to
                excel in the intricate realm of stock investing. We are driven by passion for financial growth and a
                vision to simplify the path to long-term investing success.</p>
        </div>
    </div>
    <div>
        <h2 class="display-4 text-center text-bold">The Genesis</h2>
        <p p class=" lead text-center fs-2">The principles of long-term investing, though sound in theory, are elusive
            to implement in practice. The endless hours spent scouring websites and financial filings, manually
            compiling data into spreadsheets, led to frustration. The internet was a labyrinth of information, offering
            more confusion than clarity. Driven by a lifelong passion for technology and programming, our founders knew
            that the solution lay in their hands. Thus, Finflare was born. </p>
    </div>
    <div>
        <h2 class="display-4 text-center text-bold">The Idea</h2>
        <p p class=" lead text-center fs-2">The principles of long-term investing, though sound in theory, are elusive
            to implement in practice. The endless hours spent scouring websites and financial filings, manually
            compiling data into spreadsheets, led to frustration. The internet was a labyrinth of information, offering
            more confusion than clarity. Driven by a lifelong passion for technology and programming, our founders knew
            that the solution lay in their hands. Thus, Finflare was born. </p>
    </div>
    <div>
        <h2 class="display-4 text-center text-bold">The Vision</h2>
        <p p class=" lead text-center fs-2">At Finflare, our core mission is to empower individuals to excel in stock
            investing and attain their financial aspirations. We recognize that the stock market is a realm of
            unparalleled wealth-building potential. By becoming a shareholder, you align yourself with a business's
            continuous growth, even while you rest. The allure of quick riches can be overwhelming, but our philosophy
            stands firm – true success stems from a steadfast, long-term approach. History teaches us that the
            wealthiest individuals often achieved their wealth as shareholders, enduring through decades of challenges
            and market fluctuations. </p>
    </div>
    <div class="container">
        <h2 class="display-4 text-center text-bold">Meet the Team</h2>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/team1.jpg' %}" class="img-thumbnail" alt="...">
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="rounded" src="{% static 'about/images/team2.jpg' %}" lass="img-thumbnail"
                                alt="...">
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/team3.jpg' %}" class="img-thumbnail" alt="...">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/team4.jpg' %}" class="img-thumbnail" alt="...">
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="rounded" src="{% static 'about/images/team5.jpg' %}" class="img-thumbnail"
                                alt="...">
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'about/images/team6.jpg' %}" class="img-thumbnail" alt="...">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
</section>> </div>
</div>
</div>
</div> {% endblock %} {% block postloadjs %}
<script src="{% static 'about/js/about.js' %}"></script> {% endblock %}