{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta http-equiv="refresh" content="5; URL= {% url 'home' %}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_title %} - About {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container">
    <section>
        <h1 class="display-1">Thank you for getting in touch.</h1>
        <p class="display-5"> A member of our team will be in contact with you shortly.</p>
    </section>
</div>


{% endblock %} {% block postloadjs %}
<script src="{% static 'about/js/about.js' %}"></script> {% endblock %}